body{
            background-color: #FAEDF0;
        }
hr{
	    margin-left: 0;
            border-color:#3F3351;
            border-style:none;
            border-top-style:dotted;
            border-width: 5px;
            width: 60%;  
    }
h1{
	 color: #2F3A8F;
}
h3{
	 color: #2F3A8F;
}
h2{
	 color: #2F3A8F;
}
